<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vojtele1.gameofflags" >

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".Act1Login"
            android:label="@string/act_login"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="gitkit"
                    android:scheme="com.googleusercontent.apps.331684455779-48r6bj5pjeads9k5cafmqqu1j98nskrp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Act2WebView"
            android:label="@string/act_map"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Act3AR"
            android:label="@string/act_qrreader"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Act4Settings"
            android:label="@string/act_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.facebook.FacebookActivity"/>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="identitytoolkit.show_providers"
            android:value="Facebook, Google" />
        <meta-data
            android:name="identitytoolkit.use_google_plus"
            android:value="false" />
        <meta-data
            android:name="identitytoolkit.api_key"
            android:value="AIzaSyCq8NwAC7xqlHPsK5AZiQRXhIq5tDgrAcs" />
        <meta-data
            android:name="identitytoolkit.server_client_id"
            android:value="331684455779-48r6bj5pjeads9k5cafmqqu1j98nskrp.apps.googleusercontent.com" />
        <meta-data
            android:name="identitytoolkit.server_widget_url"
            android:value="http://gameofflags-vojtele1.rhcloud.com/gitkit/gitkit.php" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/fb_app_id" />

        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode"/>

        <service android:name=".notification.geofence.GeofenceTransitionsIntentService" />
        <receiver android:name=".notification.AlarmReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
        <intent-filter>
            <action android:name="android.intent.action._BOOT_COMPLETED"/>
        </intent-filter>
    </receiver>
    </application>

</manifest>
